@font-face { font-family: MyriadPro; src: url(fonts/MyriadPro-Cond.otf); }
@font-face { font-family: MyriadPro; font-weight: bold; src: url(fonts/MyriadPro-BoldCond.otf); }

#page{position:relative;margin: 0 auto;width:100%;height:100%;background:rgb(241,241,242);overflow:hidden;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

body {width:100%;height:100%;font-family: MyriadPro ,sans-serif;font-size: 16px;margin: 0px;}
html {width:100%;height:100%}


#Popup{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	/*background-color:rgb(93, 93, 93);
	opacity:0.9;*/
	
	
}
/*
.popupTOP{
width:180px;
height:120px;
position:absolute;
top:19%;
left:53%;
background:url(Img/dialog2.png) no-repeat center center;
background-size:100% 100%;
z-index:55;
}
.popupDOWN{
width:180px;
height:120px;
position:absolute;
top:19%;
left:53%;
background:url(Img/dialogdown.png) no-repeat center center;
background-size:100% 100%;
z-index:55;
}

.confirmpopupTOP{
width:225px;
height:150px;
position:absolute;
top:19%;
left:53%;
background:url(Img/dialog2.png) no-repeat center center;
background-size:100% 100%;
z-index:55;
}
.confirmpopupDOWN{
width:225px;
height:150px;
position:absolute;
top:19%;
left:53%;
background:url(Img/dialogdown.png) no-repeat center center;
background-size:100% 100%;
z-index:55;
}*/
/*####### NUVEM #############*/
.popupTOP{
width:183px;
height:160px;
position:absolute;
top:19%;
left:53%;
background:url(Img/cloudUP.png) no-repeat center center;
background-size:100% 100%;
z-index:55;
}
.popupDOWN{
width:183px;
height:160px;
position:absolute;
top:19%;
left:53%;
background:url(Img/cloudDOWN.png) no-repeat center center;
background-size:100% 100%;
z-index:55;
}

.confirmpopupTOP{
/*width:229px;
height:200px;*/
width:183px;
height:160px;
position:absolute;
top:19%;
left:53%;
background:url(Img/cloudUP.png) no-repeat center center;
background-size:100% 100%;
z-index:55;
}
.confirmpopupDOWN{
width:229px;
height:200px;
position:absolute;
top:19%;
left:53%;
background:url(Img/cloudDOWN.png) no-repeat center center;
background-size:100% 100%;
z-index:55;
}

#okPopup:hover{cursor:pointer}
#cancelPopup:hover{cursor:pointer}

#MainWelcome{
	
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	z-index:11;
	margin:0 auto;
}
.overview{
position:absolute;
bottom:5%;
left:0.5%;
height:75%;
width:99%;
}

.boxFlip{
width:460px;
height:665px;
position:relative;
margin:0 auto;
/*box-shadow:0px 5px 62px #8B8B8B;*/
background-image: linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.41, rgb(231,231,232)),
	color-stop(1, rgb(255,255,255))
);
}

#MenuLogo:hover {cursor:pointer}

#playImage {
background-image: url(Img/new/menu_fundo.png);
width: 420px;
height: 420px;
margin: 0 auto;
background-repeat: no-repeat;
background-position: center;
background-size: 420px 420px;
position: relative;
top: 25px;
}

#playImageSmall {
background-image: url(Img/new/menu_base_1.png);
width: 420px;
height: 420px;
margin: 0 auto;
background-repeat: no-repeat;
background-position: center;
background-size: 420px 420px;
position: relative;
top: 30px;
}


#colorCircle {
background-image: url(Img/colorCircle.png);
width: 160px;
height: 160px;
margin: 0 auto;
background-repeat: no-repeat;
background-position: center;
background-size: 152px 152px;
-webkit-animation: rotation 2s infinite linear;
position: absolute;
top: 103px;
left: 92px;
}

#colorCircleSmall {
background-image: url(Img/colorCircle.png);
width: 138px;
height: 138px;
margin: 0 auto;
background-repeat: no-repeat;
background-position: center;
background-size: 90px 90px;
-webkit-animation: rotation 2s infinite linear;
position: absolute;
top: 181px;
left: 214px;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.mycheckbox {
  display:none;
}

.mycheckbox + label {
  text-indent: 18px;
  display:inline-block;
  width: 10px;
  height: 10px;
  line-height:13px;
  border-radius:3px;
  margin-right:7px;
}

.mycheckbox:checked + label {
  
}


#containGraphics {
	position:relative;
	border:0px solid grey;
	height:64%;
	overflow-y:auto;
	overflow-x:hidden;
	width:98%;
	z-index:1;
	margin:0 auto;
	top:1%;
}


.headBox{

position: relative;
text-align: center;
font-weight: bold;
font-size: 24px;
font-family: MyriadPro, sans-serif;
color: #555;
margin-bottom: 0px;
margin-top: 0px;
height: 37px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
z-index:3;

/*background:whiteSmoke;*/
}

.graphic {
	position:relative;
	display:block;
	overflow:hidden;
	/*background:whiteSmoke;*/
	border-top:1px solid #B1B1B1;
	border-bottom:1px solid #B1B1B1;
	border-right:1px solid #B1B1B1;
	background-image: linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -o-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(230,231,232)),
		color-stop(0.68, rgb(255,255,255))
	);
	box-shadow: 0px 1px 6px rgb(167, 166, 166);
}


.headBox:hover {cursor:pointer}
.inputText {font-size:14px;font-family:MyriadPro ,sans-serif;font-weight:normal;width:50%;background:transparent;border:none;margin-right:5px;vertical-align:baseline}

.contentBoxes {
overflow-y: auto;
overflow-x: hidden;
position: relative;
top: -48px;
left: 0px;
z-index: 1;
opacity: 0.9;
border-left:0px solid #DADADA;
background-image: url(Img/separador6_10.png);
/*background-image: url(Img/separador3.png);*/
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
-webkit-transition:all 0.5s ease-in-out;
-moz-transition:all 0.5s ease-in-out;
-o-transition:all 0.5s ease-in-out;
-ms-transition:all 0.5s ease-in-out;
transition:all 0.5s ease-in-out;
}
.graphSelected{}

.boxesIndividual {
	width:50px;
	height:100%;
}

#PageTitle h3:hover {cursor:pointer}

#PageTitle {
position:absolute;
top:0px;
left:0px;
width:100%;
}
.menuItem:hover {cursor:pointer}

#Loading {
	position:absolute;
	bottom:0px;
	right:0%;
	width:100%;
	height:100%;
	/*background:url(Img/loadGrey.gif) no-repeat center center;*/
	background-color:rgb(93, 93, 93);
	opacity:0.9;
	z-index:10;
	/*background-size:100px 100px;*/
}


#FileExplorer {
	position:relative;
	/*background:white;*/
	top:0%;
	width:460px;
	height:665px;
	margin:0 auto;
	z-index:51;
	overflow:auto;
	background-image: linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -o-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(230,231,232)),
		color-stop(0.68, rgb(255,255,255))
	);
	/*box-shadow: 0px 1px 6px rgb(167, 166, 166);*/
}


.gradient{
background-image: linear-gradient(bottom, rgb(242,242,242) 46%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(242,242,242) 46%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 46%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 46%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 46%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.46, rgb(242,242,242)),
	color-stop(1, rgb(255,255,255))
);
}

.folder {
text-indent: 22px;
padding:3px;
font-family:arial;
font-weight:normal;
color:black;
font-size:11px;
margin:5px;
background-image:url(Img/new/pasta_cinza.png);
background-size:20px 20px;
background-repeat: no-repeat;
background-position: left;
}

.file  {
text-indent: 25px;
padding:3px;
font-family:arial;
font-style:normal;
color:black;
font-size:11px;
margin:5px;
background-image:url(Img/file2.png);
background-size:6% 80%;
background-repeat: no-repeat;
background-position: left;
}


.fileHighlight {
font-weight:bold;
color: #76c044;
background-color:whiteSmoke;
background-image:url(Img/new/pasta_azul.png);
cursor:pointer;
}

.fileHighlightBack{
font-weight:bold;
color: #76c044;
background-color:whiteSmoke;
cursor:pointer;
}
#FilesandFolders{
overflow-y: auto;
position: relative;
top: 23%;
width: 80%;
height: 44%;
margin: 0 auto;
/*border-radius: 16px;*/
box-shadow: 2px 2px 8px rgb(197, 197, 197);
}

#pathName{
position: relative;
height:100%;
text-align:left;
text-indent:10px;
font-size:11px;
font-family:arial;
width: 100%;
margin: 0 auto;
margin-top:3px;
/*border-radius: 8px;*/
border:0px;
box-shadow: 2px 2px 8px rgb(197, 197, 197);
}

#fileName {
position: relative;
height: 100%;
margin-bottom: 15px;
text-align: left;
text-indent: 10px;
font-size: 11px;
font-family: arial;
width: 78%;
margin: 0 auto;
border: 0px;
margin-bottom: 0;
box-shadow: 2px 2px 8px rgb(197, 197, 197);
margin-right: 8px;
}

#BackHelp {
	position:relative;
	/*background:white;*/
	top:0%;
	width:460px;
	height:665px;
	margin:0 auto;
	z-index:51;
	overflow:auto;
	background-image: linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -o-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(230,231,232)),
		color-stop(0.68, rgb(255,255,255))
	);
}
#Help {
position: relative;
top: 7%;
width: 92%;
height: 438px;
margin: 0 auto;
z-index: 11;
overflow: auto;
}
#configurations {
	margin: 0 auto;

	opacity: 1;
	z-index: 51;

	width:460px;
height:665px;
position:relative;
margin:0 auto;
/*box-shadow:0px 5px 62px #8B8B8B;*/
background-image: linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.41, rgb(231,231,232)),
	color-stop(1, rgb(255,255,255))
);
}

#configurationsDevices {
	margin: 0 auto;

	opacity: 1;
	z-index: 51;

	width:460px;
height:665px;
position:relative;
margin:0 auto;
/*box-shadow:0px 5px 62px #8B8B8B;*/
background-image: linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.41, rgb(231,231,232)),
	color-stop(1, rgb(255,255,255))
);
}

#SetAnnotationPage {
	margin: 0 auto;

	opacity: 1;
	z-index: 51;

	width:460px;
height:665px;
position:relative;
margin:0 auto;
/*box-shadow:0px 5px 62px #8B8B8B;*/
background-image: linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(231,231,232) 41%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.41, rgb(231,231,232)),
	color-stop(1, rgb(255,255,255))
);
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(201, 201, 201, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(201, 201, 201, 0.4); 
}

#digital{
position:absolute;width:100%;bottom:18.5%;height:3%;
background-image: linear-gradient(bottom, rgb(51,51,51) 31%, rgb(133,133,133) 100%);
background-image: -o-linear-gradient(bottom, rgb(51,51,51) 31%, rgb(133,133,133) 100%);
background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 31%, rgb(133,133,133) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 31%, rgb(133,133,133) 100%);
background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 31%, rgb(133,133,133) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.31, rgb(51,51,51)),
	color-stop(1, rgb(133,133,133))
);
}

#AnalogChannels tr{
    background-image: linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -o-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(230,231,232)),
		color-stop(0.68, rgb(255,255,255))
	);
    border: 1px solid lightgrey;
}
#AnalogChannels {
border-collapse:collapse;
border-radius:5px;
-webkit-border-radius: 10px;
margin:0 auto;
/*width:25%;*/
}

#oldDevices{
border-collapse:collapse;
border-radius:5px;
-webkit-border-radius: 10px;
margin:0 auto;
}
#oldDevices tr{
   
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}

#newDevices{
border-collapse:collapse;
border-radius:5px;
-webkit-border-radius: 10px;
margin:0 auto;
}
#newDevices tr{
   
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}
.buttonGradient{
    background-image: linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -o-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(230,231,232) 0%, rgb(255,255,255) 68%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(230,231,232)),
		color-stop(0.68, rgb(255,255,255))
	);
}

#searchConfig:hover{
    cursor:pointer;
}
#plusConfig:hover{
    cursor:pointer;
}

#setAnnotation:hover{
	cursor:pointer;
}

h4:hover{
cursor:pointer;
}

.overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index:9999;
  height:100%;
  width:100%;
}

.accordionClass {height:370px;text-align:center;background:transparent;position:absolute;top:0px;margin:0 auto;width:280px;}

#devices
{
position:relative;
transition-property: left;
transition-duration: 0.35s;
transition-timing-function: linear;
/* Safari */
-webkit-transition-property:left;
-webkit-transition-duration:0.25s;
-webkit-transition-timing-function:linear;
/*animation:myfirst 1s;
-webkit-animation:myfirst 1s; /* Safari and Chrome */
}

@keyframes myfirst
{
0%   {left:0px; top:0px;}
100% {left:-280px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {left:0px; top:0px;}
100% {left:-280px; top:0px;}
}

#arrowLeft:hover{cursor:pointer;}
#arrow_left:hover{cursor:pointer}
#arrowRight:hover{cursor:pointer;}
#arrow_right:hover{cursor:pointer}

.deviceSelected{
background-color:#DBDBDB !important;
}
.deviceNOTSelected{
background-color:transparent;
}

.treeview ul {background:transparent !important}

#filename:hover{cursor:pointer}